
// @import "../node_modules/bootstrap/scss/bootstrap";


@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$body-bg: #141414;
$body-color: #fff;

$theme-colors: (
  "primary": #0074d9,
  "nf-dark": #141414,
  "nf-gray":rgba(51, 51, 51, 0.6),
  "transparent": transparent
);

@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/code";
@import "../node_modules/bootstrap/scss/grid";

